.card {
  width: 100%;
  max-width: 480px; 

  background: rgba(255, 255, 255, 0.94); 

  padding: 50px 45px; 

  border-radius: 28px; 

  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 22px; 

  backdrop-filter: blur(12px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2); 
}