.input {
  width: 100%;
  padding: 14px;

  border-radius: 10px;
  border: 1px solid #9ca3af;

  background: transparent;

  color: #333;
  font-size: 14px;

  transition: 0.2s;
}

.input::placeholder {
  color: #9ca3af;
}

.input:focus {
  outline: none;
  border: 1px solid #1a33ff;
}